<!DOCTYPE html>
<html lang="en" prefix="hydra: http://www.w3.org/ns/hydra/core# void: http://rdfs.org/ns/void#">
<head>
    <meta charset="utf-8">
    <title>${input.title || input.header || 'Linked Data Fragments Server'}</title>
    <link rel="stylesheet" href="${input.assetsPath}/styles/ldf-server.css" />
    <link rel="icon" href="${input.assetsPath}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:700italic,400,700|Droid+Sans+Mono" type="text/css" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
</head>
<body>
<header>
    <h1><a href="${input.baseURL}">${input.header || 'Linked Data Fragments Server' }</a></h1>
    <figure class="logo">
        <a href="http://linkeddatafragments.org/"><img src="${input.assetsPath}/images/logo.svg" alt="Linked Data Fragments" /></a>
    </figure>
</header>
<main>
    <include(input.component, input.data)/>
</main>
<footer>
    <p>
        Powered by a <a href="https://github.com/LinkedDataFragments/Server.js" target="_blank">Linked Data Fragments Server</a>
        ©2013–${new Date().getFullYear()} Ghent University – imec
    </p>
</footer>
</body>
</html>
